* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* header styling */
header {
    width: 100vw;
    height: 2rem;
    background-color: seagreen;
    color: floralwhite;
    font-size: 1.2rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

/* main section styling */ 

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#left, #list {
    padding: 0 2rem;
}

/* left menu styling */

#left {
    grid-column: 1;
}

#profile {
    display: flex;
}

#pfp img {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

#user {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}
#left div {
    margin-bottom: 0.5rem;
}
#projects p{
    margin: 0.5rem 0;
}

/* to-do list styling */

#list {
    grid-column: 2 / span 3;
}

#list-title {
    margin-bottom: 1rem;
}

.task {
    width: 100%;
    border-top: 1px solid grey;
    padding: 0.5rem 0;
}
.task:last-of-type {
    border-bottom: 1px solid grey;
    color: gray;
}


